.products {
    margin: 0 0 70px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 30px;
}

.products-flat {
    gap: 70px;
}

.products__item {
    width: calc(33.33% - (60px / 3));
}

.products--flat .products__item {
    width: 100%;
}